@{     
    ViewData["Title"] = "Movie List";
}

@model List<AddMovieResponce>

<!--This is the page to list out all the movies.-->

<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Title</td>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.Lent_To</td>
                    <td>@x.Notes</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Delete</a></td>
                </tr>
            }
    </tbody>
</table>
